SECRET_KEY=dev
API_ROOT_PATH=/
DB_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB
GS_ACCOUNT_KEY=***

# Parameters for postgres database for docker (Also used in DB_URL)
POSTGRES_DB=city-search
POSTGRES_USER=city-search
POSTGRES_PASSWORD=city-search
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data/pgdata
